@import '~taro-ui/dist/style/components/flex.scss';

.index {
  background:#F3F2F2;

  .watch {
    width:670rpx;
    margin: 0 auto;
    margin-top:22rpx;

    .note-backend {
      border-radius: 20rpx;
      background:white;
      height: 400rpx;
      margin-bottom: 40rpx;

      .notes-image {
        border-radius: 20rpx 20rpx 0 0;
        margin-top: 0rpx;
        width: 670rpx;
        max-height: 306rpx;
      }

      .label {
        margin-left: 25rpx;
        .notes-label {
          font-size: 40rpx;
        }
        
        .notes-words {
          font-size: 30rpx;
          color: lightgray;
        }
      }
    }
  }
}
