@import '~taro-ui/dist/style/components/flex.scss';

.newimprovedepth {
  margin-bottom: 50rpx;

  .novice {
    margin-left: 40rpx;
    margin-right: 40rpx;
    margin-top: 58rpx;
    margin-bottom: 30rpx;

    .title {
      color: #1E90FF;
      font-size: 40px;
    }
    
    .more {
      color: #1E90FF;
      text-align: right;
      font-size: 32px;
    }
  }

  .novicebook {
    font-size: 36px;
    margin: 0 auto;
    width: 100%;
    margin-left: 10rpx;

    .menus {
      width: 720rpx;
      height: 300rpx;
      display:inline-flex;
      overflow-y: hidden;

      .memberimage {
        border-radius: 3%;
        margin-left: 35rpx;
        max-width: 200rpx;
        max-height: 260rpx;
      }
    
      .memberword {
        margin-left: 40rpx;
        margin-bottom: 20rpx;
        width: 200rpx;
        height: 10%;
        font-size: 26rpx;
        white-space: pre-line;
      }
    }
  }
}
