.banner{
  .titleback {
    position: relative;
    z-index: 1;
    top: 130rpx;
    left: 30rpx;
    width: 680rpx;

    .title {
      font-size: 40rpx;
      color: #ffffff;
    }

    .weather {
      color: #ffffff;
    }

    .titleinfo {
      font-size: 32rpx;
      color: #ffffff;
    }
  }
  
  .test-h{
    height: 500rpx;
    
    .small{
      margin: 0 auto;
      width: 750rpx;
      min-height: 500rpx;
      text-align: center;
    }
  }
}
