@import '~taro-ui/dist/style/components/flex.scss';

.banner {
  .indicator {
    margin-left: 40rpx;
    margin-right: 40rpx;
    margin-top: 20rpx;
    margin-bottom: 30rpx;

    .title {
      color: #1E90FF;
      font-size: 40px;
    }
    
    .more {
      text-align: right;
      color: #1E90FF;
      font-size: 32px;
    }
  }
  
  .swiper {
    margin-left: 20rpx;
    margin-top: -4rpx;
    font-size: 34px;

    .navigator {
      max-height: 230rpx;
    }

    .swip {
      height: 480rpx;
    
      .test-h {
        height: 480rpx;
        white-space: nowrap;
    
        .note-backend {
          display: inline-block;
          border-radius: 20rpx;
          background:white;
          margin-left: 30rpx;
          width: 630rpx;
          height: 460rpx;
          
          .notes-image {
            margin-right: 50rpx;
            border-radius: 20rpx;
            width: 630rpx;
            max-height: 370rpx;
          }
          
          .notes-label {
            font-size: 40rpx;
            height: 44rpx;
            bottom: 0%;
            
            .note-label{
              margin-left: 26rpx;
              bottom: 20rpx;
            }
          }
        }
      }
    }
    
  }
}
