.menuview {
  .note-backend {
    border-radius: 20rpx;
    height: 446rpx;
    background:white;
    margin-bottom: 40rpx;

    .notes-image {
      border-radius: 20rpx 20rpx 0 0;
      margin-top: 0rpx;
      width: 670rpx;
      max-height: 306rpx;
    }

    .label {
      margin-left: 25rpx;
      .notes-label {
        font-size: 40rpx;
      }
      
      .notes-words {
        font-size: 30rpx;
        color: lightgray;
      }
    }
  }
}
