.index {
  width: 100vw;
  height: 200%;
  background: #F3F2F2;
  overflow: -moz-hidden-unscrollable;

  .about {
    overflow-y: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    width: calc(100vw + 20px);

    .image {
      box-shadow: 0 8rpx 5rpx 1rpx lightgray;
      width: 750rpx;
      height: 448rpx;
    }

    .ourbackend {
      width: 86%;
      margin-left: 50rpx;
      margin-right: 50rpx;
      margin-top: 84rpx;
      
      .label {
        margin-bottom: 34rpx;
        color: #1E90FF;
      }

      .title {
        margin-bottom: 8rpx;
        margin-left: 22rpx;
        color: #7E7E7E;
        font-size: 32rpx;
      }

      .category {
        margin-bottom: 34rpx;
        margin-left: 22rpx;
        color: #7E7E7E;
        font-size: 28rpx;
      }

      .words {
        width: 650rpx;
        margin-bottom: 112rpx;

        .landscape {
          font-size: 34rpx;
          white-space: pre-line;
          text-indent: 2em;
        }

        .context {
          margin-top: 20rpx;
          font-size: 34rpx;
          white-space: pre-line;
        }

        .introduce {
          margin-top: 20rpx;
          font-size: 34rpx;
          white-space: pre-line;
        }
      }
    }

    .map {
      width: 750rpx;
      margin-top: 54rpx;
    }

    .space {
      width: 86%;
      margin-left: 50rpx;
      margin-right: 50rpx;
      margin-top: 54rpx;

      .input {
        margin-bottom: 27rpx;
        color: #1E90FF;
      } 
    }
  }
  
  /*隐藏滚动条*/
  ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    color: transparent;
  }
}