@import '~taro-ui/dist/style/components/flex.scss';

.watch {
  .indicator {
    margin-left: 40rpx;
    margin-right: 40rpx;
    margin-top: 20rpx;
    margin-bottom: 30rpx;

    .title {
      color:#1E90FF;
      font-size: 40px;
    }

    .more {
      color:#1E90FF;
      text-align: right;
      font-size: 34px;
    }
  }

  .read-view {
    font-size: 36px;
    width: 670rpx;
    margin: 0 auto;

    .menuview {
      .note-backend {
        border-radius: 20rpx;
        height: 446rpx;
        background:white;
        margin-bottom: 40rpx;
  
        .notes-image {
          border-radius: 20rpx 20rpx 0 0;
          margin-top: 0rpx;
          width: 670rpx;
          max-height: 306rpx;
        }
  
        .label {
          margin-left: 25rpx;
          .notes-label{
            font-size: 40rpx;
          }
          
          .notes-words {
            font-size: 30rpx;
            color:lightgray;
          }
        }
      }
    }
  }
}
