//@import '~taro-ui/dist/style/components/flex.scss';
@import "~taro-ui/dist/style/index.scss";

.menu {
    .small {
        border-radius: 5%;
        margin-left: 15rpx;
        margin-right: 20rpx;
        width: 88%;
        max-height: 150rpx;
    }

    .sm {
        margin: auto;
        width: 100%;
        height: 10%;
        font-size: 18rpx;
        text-align: center;
    }
}
