.index {
  width: 750rpx;

  .countdownBox {
    width: 100%;
    height: 80rpx;
    background-color: red;
    border-radius: 50rpx;
    margin-top: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30rpx;
    margin-bottom: 20rpx;
  }
  .countdownBox .item{
    height: 60rpx;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 0rpx 8rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35rpx;
    font-weight: 480;
    margin: 0rpx 10rpx;
  }
}
