.index {
  background:#F3F2F2;
  overflow-x: hidden;
  
  .main {
    background:#F3F2F2;
    padding-bottom: 20rpx;
    overflow-y: hidden;

    .articlenote {
      height: 1520rpx;
      overflow-y: hidden;

      .watch {
        .indicator {
          margin-left: 40rpx;
          margin-right: 40rpx;
          margin-top: 20rpx;
          margin-bottom: 30rpx;
      
          .title {
            color:#1E90FF;
            font-size: 40px;
          }
      
          .more {
            color:#1E90FF;
            text-align: right;
            font-size: 34px;
          }
        }
      
        .read-view {
          font-size: 36px;
          width: 670rpx;
          margin: 0 auto;
        }
      }
    }
  }
    /*隐藏滚动条*/
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }
}
